.navbar {
  font-family: "Inter", serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  height: 50px;
  font: "Inter", sans-serif;
  color: black;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 100;
}

.navbar-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

.navbar-logo img {
  height: 6vh;
  padding-left: 5px;
  margin-right: 0.1rem;
}

.navbar-logo a:hover {
  color: #666;
  filter: opacity(0.6);
}
